<div class="layui-side layui-side-menu">
    <div class="layui-side-scroll">
        <div class="layui-logo" lay-href="home/console.html">
            <span>layuiAdmin</span>
        </div>

        <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu"
            lay-filter="layadmin-system-side-menu">
            <li data-name="config" class="layui-nav-item">
                <a href="javascript:;" lay-tips="配置" lay-direction="2">
                    <i class="layui-icon layui-icon-user"></i>
                    <cite>配置管理</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a lay-href="{:u('storage/index')}">文件存储</a>
                    </dd>
                </dl>
            </li>
            <li data-name="user" class="layui-nav-item">
                <a href="javascript:;" lay-tips="用户" lay-direction="2">
                    <i class="layui-icon layui-icon-user"></i>
                    <cite>用户管理</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a lay-href="{:u('user/index')}">用户列表</a>
                    </dd>
                    <dd>
                        <a lay-href="user/administrators/list.html">后台管理员</a>
                    </dd>
                </dl>
            </li>
            <li data-name="set" class="layui-nav-item">
                <a href="javascript:;" lay-tips="设置" lay-direction="2">
                    <i class="layui-icon layui-icon-set"></i>
                    <cite>设置</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="layui-nav-itemed">
                        <a href="javascript:;">系统设置</a>
                        <dl class="layui-nav-child">
                            <dd><a lay-href="set/system/website.html">网站设置</a></dd>
                            <dd><a lay-href="set/system/email.html">邮件服务</a></dd>
                        </dl>
                    </dd>
                    <dd class="layui-nav-itemed">
                        <a href="javascript:;">我的设置</a>
                        <dl class="layui-nav-child">
                            <dd><a lay-href="set/user/info.html">基本资料</a></dd>
                            <dd><a lay-href="set/user/password.html">修改密码</a></dd>
                        </dl>
                    </dd>
                </dl>
            </li>
            <li data-name="get" class="layui-nav-item">
                <a href="javascript:;" layadmin-event="about" lay-tips="授权" lay-direction="2">
                    <i class="layui-icon layui-icon-auz"></i>
                    <cite>关于</cite>
                </a>
            </li>
        </ul>
    </div>
</div>